LOG_LEVEL=20

SQLALCHEMY_ECHO=False

# DB info
POSTGRES_USER=local
POSTGRES_PASSWORD=local
POSTGRES_DB=sbtb
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

BOXING_RANKINGS_URL=your_boxing_rankings_url
BOXING_SCHEDULE_URL=your_boxing_schedule_url
BOXING_HEADERS=your_boxing_headers