LOG_LEVEL=20

# DB info
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=sbtb
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# use async pg
DATABASE_URI=postgresql+asyncpg://<user>:<password>@<host>:<port>/<db>

BOXING_RANKINGS_URL=your_boxing_rankings_url
BOXING_SCHEDULE_URL=your_boxing_schedule_url
BOXING_HEADERS=